/* =================== imported fonts =================== */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* ---------- sub-header ---------- */

/* =================== global variables =================== */
:root {
	--primary-font-colour: #2D2C38;
	--primary-accent-white: #FAF7F8;
	--primary-accent-blue: #007fff;
	--primary-accent-light-blue: #00abf3;
	--primary-accent-bright-blue: #0040f4;
	--primary-accent-dark-blue: #193497;
	--primary-accent-grey: #8289a3;

}

/* =================== reset default styles =================== */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* =================== base page styles =================== */
body {
	font-family: "Work Sans", sans-serif;
	font-size: 1em;
	font-weight: 400;
	background-color: var(--primary-accent-white);
	color: var(--primary-font-colour);
}

/* =================== font styles =================== */
h1 {
	font-size: 2.3em;
	font-weight: 700;
	text-transform: capitalize;
	margin-bottom: 1rem;
}

h2 {
	font-size: 1.3em;
	font-weight: 500;
}

h3 {
	font-size: 1.2em;
	font-weight: 500;
}

p {
	font-size: 1.1em;
	margin-bottom: 1rem;
}

a {
	color: var(--primary-font-colour);
	text-decoration: none;
	font-size: 1.1em;
}

span.material-symbols-outlined {
	font-size: 1em;
}

button.filled,
a.filled {
	background-color: var(--primary-accent-blue);
	font-weight: 500;
	text-transform: capitalize;
	color: var(--primary-accent-white);
	border: 2px solid var(--primary-accent-blue);
	padding: 8px 10px;
	border-radius: 5px;
	font-size: 1em;
	display: flex;
	justify-content: center;
	font-family: "Work Sans", sans-serif;
	transition: all 200ms ease-in;
}

button.outlined,
a.outlined {
	background-color: white;
	font-weight: 500;
	text-transform: capitalize;
	color: var(--primary-font-colour);
	border: 2px solid var(--primary-accent-blue);
	padding: 8px 10px;
	border-radius: 5px;
	font-size: 1em;
	display: flex;
	justify-content: center;
	font-family: "Work Sans", sans-serif;
	transition: all 200ms ease-in;
}

button.filled,
button.outlined,
a.filled,
a.outlined {
	display: inline-flex;
	align-items: center;
}

.logo {
	font-weight: 600;
	text-transform: capitalize;
	font-size: 1.2em;
	cursor: pointer;
}

/* =================== constants =================== */
img {
	width: 100%;
}

/* ---------- main-grid ---------- */
#main-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
	padding: 1rem;
}

#main-grid>section,
#main-grid>footer {
	grid-column: span 4;
}

section {
	margin: 1rem 0;
}

footer {
	margin-top: 1rem;
}

/* ---------- navigation styling mobile ---------- */
/* hide mobile navigation until clicked */
section.navigation nav#mobile {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 12;
	display: none;
}

section.navigation nav#mobile>.content.container {
	width: 100%;
	height: 100%;
	background-color: var(--primary-accent-dark-blue);
	padding: 1rem;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	align-content: center;
}

section.navigation nav#mobile * {
	color: var(--primary-accent-white);
}

/* close button */
section.navigation .close.container {
	text-align: right;
}

section.navigation .close.container button {
	padding: 0.4rem;
	background-color: var(--primary-accent-dark-blue);
	border: none;
	cursor: pointer;
}

section.navigation .close.container span {
	font-size: 2em;
}

section.navigation nav#mobile .nav-list {
	list-style: none;
	height: 100%;
	padding: 6rem 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

section.navigation .list-item a:not(.filled) {
	font-size: 2em;
}

section.navigation .list-item .filled {
	font-size: 1.6em;
	width: 100%;
}

section.navigation nav#mobile .socials.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 1rem;
}

section.navigation nav#mobile .socials.container a {
	color: rgba(250, 247, 248, 75%);
}

/* hide desktop navigation */
section.navigation nav#desktop {
	display: none;
}

/* menu header mobile */
section.navigation .nav.mobile.container {
	padding-bottom: 1rem;
	border-bottom: 2px solid var(--primary-font-colour);
}

section.navigation .nav.mobile.container,
section.navigation .nav.mobile.container>div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

/* hamburger btn */
section.navigation .nav.mobile.container button.hamburger {
	margin-left: 1rem;
	background-color: var(--primary-accent-white);
	border: none;
	cursor: pointer;
}

section.navigation .nav.mobile.container span {
	font-size: 2.3rem;
}

/* =================== media queries =================== */

/* =================== TABLET =================== */
@media only screen and (min-width: 40.063em) {
	#main-grid {
		grid-template-columns: repeat(6, 1fr);
	}

	#main-grid>section {
		grid-column: span 6;
	}

	#main-grid>footer {
		grid-column: span 6;
	}

	/* =================== font styles =================== */
	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.3em;
	}

	h3 {
		font-size: 1.2em;
	}

	p {
		font-size: 1em;
	}

	a {
		font-size: 1em;
	}

	span.material-symbols-outlined {
		font-size: 1em;
	}

	button.filled,
	a.filled {
		font-size: 1em;
	}

	button.outlined,
	a.outlined {
		font-size: 1em;
	}

	.logo {
		font-size: 1.5em;
	}

	/* ---------- navigation section tablet ---------- */

	section.navigation nav#mobile .socials.container {
		padding: 0 2rem;
	}
}

/* =================== DESKTOP =================== */
@media only screen and (min-width: 64.063em) {
	#main-grid {
		grid-template-columns: repeat(12, 1fr);
	}

	#main-grid>section {
		grid-column: span 12;
	}

	#main-grid>footer {
		grid-column: span 12;
	}

	/* =================== font styles =================== */

	/* ---------- navigation section desktop ---------- */
	section.navigation {
		margin-bottom: 3rem;
	}

	/* TODO: remember to display image in section.header */

	/* hide mobile navigation */
	section.navigation>.nav.mobile.container {
		display: none;
	}

	/* show desktop navigation */
	section.navigation>nav#desktop {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	section.navigation>nav#desktop .nav-list.desktop {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	section.navigation>nav#desktop .nav-list .list-item {
		list-style: none;
		margin: 0 1rem;
	}

	section.navigation>nav#desktop .nav-list .list-item a {
		font-size: 1em;
		border-bottom: 2px solid transparent;
	}

	section.navigation>nav#desktop .nav-list .list-item a.underline {
		border-color: var(--primary-accent-blue);
	}


	section.navigation>nav#desktop .nav-list .list-item a:hover {
		border-color: var(--primary-accent-dark-blue);
	}

	section.navigation>nav#desktop .links.container.desktop a:hover {
		background-color: var(--primary-accent-bright-blue);
		border-color: var(--primary-accent-bright-blue);
	}
}