/* =================== base page styles =================== */

/* =================== font styles =================== */

/* =================== constants =================== */

/* ---------- navigation section ---------- */

/* hide mobile navigation until clicked */
section.navigation nav#mobile {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 12;
	display: none;
}

section.navigation nav#mobile>.content.container {
	width: 100%;
	height: 100%;
	background-color: var(--primary-accent-dark-blue);
	padding: 1rem;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	align-content: center;
}

section.navigation nav#mobile * {
	color: var(--primary-accent-white);
}

/* close button */
section.navigation .close.container {
	text-align: right;
}

section.navigation .close.container button {
	padding: 0.4rem;
	background-color: var(--primary-accent-dark-blue);
	border: none;
	cursor: pointer;
}

section.navigation .close.container span {
	font-size: 2em;
}

section.navigation nav#mobile .nav-list {
	list-style: none;
	height: 100%;
	padding: 6rem 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

section.navigation .list-item a:not(.filled) {
	font-size: 2em;
}

section.navigation .list-item .filled {
	font-size: 1.6em;
	width: 100%;
}

section.navigation nav#mobile .socials.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 1rem;
}

section.navigation nav#mobile .socials.container a {
	color: rgba(250, 247, 248, 75%);
}

/* hide desktop navigation */
section.navigation nav#desktop {
	display: none;
}

/* menu header mobile */
section.navigation .nav.mobile.container {
	padding-bottom: 1rem;
	border-bottom: 2px solid var(--primary-font-colour);
}

section.navigation .nav.mobile.container,
section.navigation .nav.mobile.container>div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

/* hamburger btn */
section.navigation .nav.mobile.container button.hamburger {
	margin-left: 1rem;
	background-color: var(--primary-accent-white);
	border: none;
	cursor: pointer;
}

section.navigation .nav.mobile.container span {
	font-size: 2.3rem;
}

/* ---------- header section ---------- */

/* hide image container on mobile */
section.header .image.container {
	display: none;
}

/* ---------- about section ---------- */

section.about>.content.container {
	margin-bottom: 3rem;
}

/* signup button */
section.about>.content.container .signup span {
	padding-left: 5px;
}

/* jquery accordion widget */
#accordion {
	font-family: "Work Sans", sans-serif;
}

#accordion>div p {
	margin-bottom: 0;
}

/* ---------- call-out section ---------- */

section.call-out>.container {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 1rem;
	background-image: url(/assets/eliza-diamond-tT2DSShVDTI-unsplash.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	border-radius: 5px;
	overflow: hidden;
}

section.call-out .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 45%);
	/* allows pointer clicks to pass through the overlay */
	pointer-events: none;
}

section.call-out .content.container {
	position: relative;
	color: var(--primary-accent-white);
	z-index: 1;
}

section.call-out .content.container p {
	margin-bottom: 2rem;
}

section.call-out .content.container .button.container a:not(:last-child) {
	margin-right: 1rem;
}

/* ---------- footer section ---------- */

footer>a.logo {
	display: block;
	margin-bottom: 1rem;
}

footer>.contact.container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
}

footer .contact.container .email,
footer .contact.container .phone {
	grid-column: span 1;
}

footer .contact.container .office {
	grid-column: span 2;
}

footer .contact.container .email h2,
footer .contact.container .phone h2,
footer .contact.container .office h2 {
	margin-bottom: 0.3rem;
}

footer .contact.container .highlight {
	color: var(--primary-accent-dark-blue);
	font-weight: 500;
	text-decoration: underline;
}

/* attribution container */
footer .attribution.container {
	font-size: 0.9em;
	margin-top: 2rem;
}

footer .attribution.container p {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 0;
}

footer .attribution.container span {
	margin-right: 5px;
}

/* =================== media queries =================== */

/* =================== TABLET =================== */
@media only screen and (min-width: 40.063em) {

	/* ---------- navigation section ---------- */
	section.navigation nav#mobile .nav-list {
		/* padding: 12rem 0; */
	}

	section.navigation nav#mobile .socials.container {
		padding: 0 2rem;
	}
}

/* =================== DESKTOP =================== */
@media only screen and (min-width: 64.063em) {

	/* ---------- navigation section ---------- */
	section.navigation {
		margin-bottom: 3rem;
	}

	/* TODO: remember to display image in section.header */

	/* hide mobile navigation */
	section.navigation>.nav.mobile.container {
		display: none;
	}

	/* show desktop navigation */
	section.navigation>nav#desktop {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	section.navigation>nav#desktop .nav-list.desktop {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	section.navigation>nav#desktop .nav-list .list-item {
		list-style: none;
		margin: 0 1rem;
	}

	section.navigation>nav#desktop .nav-list .list-item a {
		font-size: 1em;
		border-bottom: 2px solid transparent;
	}

	section.navigation>nav#desktop .nav-list .list-item a.underline {
		border-color: var(--primary-accent-blue);
	}


	section.navigation>nav#desktop .nav-list .list-item a:hover {
		border-color: var(--primary-accent-dark-blue);
	}

	/* ---------- about section ---------- */
	section.about {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
	}

	/* ---------- callout section ---------- */
	section.call-out>.container {
		height: 35vh;
	}

	section.call-out>.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	/* ---------- footer section ---------- */
	footer>.contact.container {
		grid-template-columns: repeat(3, 1fr);
	}

	footer .contact.container .email,
	footer .contact.container .phone,
	footer .contact.container .office {
		grid-column: span 1;
	}
}