body {
	background-color: var(--primary-background-colour-purple);
	color: var(--primary-accent-white);
}

h1 {
	font-size: 1.7em;
	font-weight: 500;
}

p {
	font-size: 1em;
}

a {
	font-size: 0.8em;
	font-style: italic;
	color: var(--primary-accent-white)
}

/* =================== media queries =================== */
.pin.container {
	grid-column: span 4;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 85vh;
}

.pin.container h1 {
	margin-bottom: 0.3rem;
}

.pin.container form {
	margin: 1rem 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.pin.container input {
	width: 50%;
	margin-right: 10px;
	text-align: center;
	padding: 5px;
}

.pin.container button {
	padding: 0 10px;
	background-color: var(--primary-accent-pink);
	border: none;
	color: var(--primary-accent-white);
	font-weight: 600;
	cursor: pointer;
}

/* =================== TABLET =================== */
@media only screen and (min-width: 40.063em) {
	.pin.container {
		grid-column: span 6;
	}

	h1 {
		font-size: 2em;
	}

	p {
		font-size: 1.3em;
	}

	a {
		font-size: 1em;
	}
}

/* =================== DESKTOP =================== */
@media only screen and (min-width: 64.063em) {
	.pin.container {
		grid-column: span 12;
	}

	.pin.container input {
		width: 25%;
	}
}